<%= simple_form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2><%= @bill.gen_name %></h2>
  <div class="form-group">
    <%= f.input :date, as: :date, html5: true, value: @bill.date %>
  </div>
  <div class="form-group">
    <%= f.input :due_date, as: :date, html5: true, value: @bill.due_date %>
  </div>
  <div class="form-group">
    <%= f.input :notice, value: @bill.notice, as: :text %>
  </div>
  <div class="form-group">
    <%= f.input :footer, value: @bill.footer, as: :text %>
  </div>
  <div class="form-group">
    <%= f.input :client_id, collection: current_company.clients %>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" style="width: 1024px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Services provided</h4>
        </div>
        <%= f.simple_fields_for :services do |s| %>
        <div class="modal-body">
            <%= render 'service_fields', f: s %>
        </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to_add_association 'Another one', f, :services, class: 'btn btn-primary' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="well">
    <h4>Services provided <span class="badge"><%= @bill.services.length - 1 %></span></h4>
      <%= content_tag :a, "New service", href: "#modal", class: 'btn btn-primary', data: {toggle: 'modal'} %>

    <%if @bill.services.length %>
      <table class="table table-stiped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Quantity</th>
          </tr>
        </thead>

        <tbody>
          <% @bill.services[0...-1].each do |s| %>
            <tr>
              <td><%= s.name %></td>
              <td><%= s.description %></td>
              <td><%= "#{s.amount} (#{s.currency})" %></td>
              <td><%= s.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
